@import "tailwindcss";

:root {
  --background: #eeeeee;
  --background-secondary: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #161616;
  --background-secondary: #0c0c0c;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-poppins: var(--font-poppins);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #161616;
    --background-secondary: #0c0c0c;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: sans-serif, Arial, Helvetica;
}

.circleNo1 {
  @apply rounded-full bg-radial-[at_30%_30%] from-[#C5D9D7]/50 via-[#DABB9F]/50 to-[#7ABEC2]/50 to-90% shadow-2xl shadow-[#A3CDCB]/50;
}
.circleNo2 {
  @apply rounded-full bg-radial-[at_30%_30%] from-[#C5D9D7]/50 via-[#DABB9F]/50 to-[#7ABEC2]/50 to-90% shadow-2xl shadow-[#A3CDCB]/50;
}